

.container{
    min-width: 80%;
}
.circular-image {
    width: 300px;
    height: 300px; 
    object-fit: cover; 
    border-radius: 50%;
    
}
.greetings,
.greetings-name {
    margin: 5px auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
}
.sidebar{
    position: fixed;
    align-items: center;
    margin:  1% 40px auto auto;
    right: 0;

    
}
.sidebar a {
    display: flex;
    color: white;
    font-size: 2em;
    margin-top: 130px;
    text-decoration: none; /* remove underline by default */
}

.sidebar a:visited {
    text-decoration: none; /* prevent underline after visiting */
    color: white; /* keep same color */
}

.sidebar a:hover {
    color: gray;
    text-decoration: none;
}

.sidebar a:active {
    color: gray;
    text-decoration: none;
}
.sidebar a,
.sidebar a:link,
.sidebar a:visited,
.sidebar a:hover,
.sidebar a:active,
.sidebar a:focus {
    color: white;              /* or gray/your theme color */
    text-decoration: none !important;
    outline: none;             /* remove blue outline on click */
}
.card{
     border: 1px solid white; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Inner spacing */
    background-color: var(--darker); /* Background color */
    
    box-shadow: 0 4px 8px rgba(0, 247, 255, 0.2); /* Optional glow effect */
    margin-bottom: 10px;
    
}
.button-repo {
  border: 1px solid white; 
  border-radius: 10px; 
  padding: 10px 20px;
  background-color: var(--darker); 
  color: white; 
 
  transition: all 0.3s ease;
}

.button-repo:hover {
  background-color: white; 
  color: black; 
  border: 1px solid white;
  cursor: pointer;
}
.contact{
    border: 1px solid white; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Inner spacing */
    background-color: var(--darker);
    max-width: fit-content;
    margin-left: 30%;
    margin-bottom: 2%;
}
.grey-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: 50px;
        text-align: center;
        color: gray;
    }


